{{#if this.isHomepage}}
  <section class="channel-view-component">
    <div class="wrap">
      <h2 class="channel-view-title">More to discover</h2>
      <div class="channel-view-grid">
        {{#each site.categories as |sc|}}
          <div class="channel-card">
            <div class="channel-card-content">
              <div class="row">
                <div class="icon-container">

                  <a href={{sc.slug}}>
                    {{#if sc.uploaded_logo.url}}
                      <img src={{sc.uploaded_logo.url}} alt="category logo" />
                    {{else}}
                      <div class="placeholder">
                        &nbsp;
                      </div>
                    {{/if}}
                  </a>
                </div>
                <div class="text-container">
                  <h5 class="title"><a
                      href="/c/{{sc.slug}}"
                    >{{sc.name}}</a></h5>

                  <span class="stats">{{sc.topic_count}} conversations</span>

                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section class="learn-more-component">
    <div class="wrap">
      <h2 class="channel-view-title">Learn with Adobe</h2>
      <div class="card-list">
        <p>Placeholder for card-list.</p>
      </div>
    </div>
  </section>
{{/if}}