{{#if this.isHomepage}}
  <section class="gray-banner-component learn-more-component">
    <div class="wrap">
      <h2 class="banner-title">For you</h2>
      <div class="card-list">
        <div class="card">
          <div class="card-bg"></div>
          <div class="icon-container">
            <img
              src="//cdck-file-uploads-global.s3.dualstack.us-west-2.amazonaws.com/flex003/uploads/annetters/original/1X/11fca20ce58439a67aa0074f6c7ac4df2fdfe05b.png"
              alt="category background"
            />
          </div>
          <div class="text-container">
            <div class="column col-1">
              <h6 class="title"><a href="/c/photoshop">Photoshop</a></h6>
              <span class="stats">3 conversations</span>
            </div>
            <div class="column col-2"><a
                href="/c/photoshop"
                class="btn btn-default btn-visit"
              >Visit</a></div>
          </div>
        </div>
        <div class="card">
          <div class="card-bg"></div>
          <div class="icon-container">
            <img
              src="//cdck-file-uploads-global.s3.dualstack.us-west-2.amazonaws.com/flex003/uploads/annetters/original/1X/11fca20ce58439a67aa0074f6c7ac4df2fdfe05b.png"
              alt="category background"
            />
          </div>
          <div class="text-container">
            <div class="column col-1">
              <h6 class="title"><a href="/c/photoshop">Photoshop</a></h6>
              <span class="stats">3 conversations</span>
            </div>
            <div class="column col-2"><a
                href="/c/photoshop"
                class="btn btn-default btn-visit"
              >Visit</a></div>
          </div>
        </div>
        <div class="card">
          <div class="card-bg"></div>
          <div class="icon-container">
            <img
              src="//cdck-file-uploads-global.s3.dualstack.us-west-2.amazonaws.com/flex003/uploads/annetters/original/1X/11fca20ce58439a67aa0074f6c7ac4df2fdfe05b.png"
              alt="category background"
            />
          </div>
          <div class="text-container">
            <div class="column col-1">
              <h6 class="title"><a href="/c/photoshop">Photoshop</a></h6>
              <span class="stats">3 conversations</span>
            </div>
            <div class="column col-2"><a
                href="/c/photoshop"
                class="btn btn-default btn-visit"
              >Visit</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="white-banner-component channel-view-component">
    <div class="wrap">
      <h2 class="channel-view-title">More to discover</h2>
      <div class="channel-view-grid">
        {{#each site.categories as |sc|}}
          <div class="channel-card">
            <div class="channel-card-content">
              <div class="row">
                <div class="icon-container">
                  <a href={{sc.slug}}>
                    {{#if sc.uploaded_logo.url}}
                      <img src={{sc.uploaded_logo.url}} alt="category logo" />
                    {{else}}
                      <div class="placeholder">
                        &nbsp;
                      </div>
                    {{/if}}
                  </a>
                </div>
                <div class="text-container">
                  <h5 class="title"><a
                      href="/c/{{sc.slug}}"
                    >{{sc.name}}</a></h5>

                  {{#if sc.topic_count}}
                    <span class="stats">{{sc.topic_count}} conversations</span>
                  {{else}}
                    <span class="stats">No conversations</span>
                  {{/if}}

                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section class="gray-banner-component learn-more-component">
    <div class="wrap">
      <h2 class="banner-title">Learn with Adobe</h2>
      <div class="card-list list-learn-more">
        <div class="card card-learn">
          <div class="text-container">
            <div class="icon-external-link"><a href="#">[X]</a></div>
            <h3><a href="#">Learn</a></h3>
            <p>Learn with step-by-step video tutorials and hands-on guidance
              right in the app.</p>
          </div>
        </div>
        <div class="card card-help">
          <div class="text-container">
            <div class="icon-external-link"><a href="#">[X]</a></div>
            <h3><a href="#">Help & Support</a></h3>
            <p>Get help managing your account and using apps with how-tos and
              troubleshooting.</p>
          </div>
        </div>
        <div class="card card-discover">
          <div class="text-container">
            <div class="icon-external-link"><a href="#">[X]</a></div>
            <h3><a href="#">Discover</a></h3>
            <p>Get help managing your account and using apps with how-tos and
              troubleshooting.</p>
          </div>
        </div>
      </div>
      <br />
      <h2 class="banner-title">More places to connect</h2>
      <div class="card-list list-learn-more">
        <div class="card card-behance card-dark-bg">
          <div class="text-container">
            <div class="icon-external-link"><a href="#">[X]</a></div>
            <h3><a href="#">Behance</a></h3>
            <p>Discover and showcase in the largest creative network.</p>
            <small>Art by behance.net/mathiesonm</small>
          </div>
        </div>
        <div class="card card-lightroom">
          <div class="text-container">
            <div class="icon-external-link"><a href="#">[X]</a></div>
            <h3><a href="#">Lightroom Discover</a></h3>
            <p>A community dedicated to learning and sharing the art of
              photography.</p>
            <small>Art by behance.net/mathiesonm</small>
          </div>
        </div>
        <div class="card card-adobe-live card-dark-bg">
          <div class="text-container">
            <div class="icon-external-link"><a href="#">[X]</a></div>
            <h3><a href="#">Adobe Live</a></h3>
            <p>Be inspired by top creatives and showcase your work.</p>
            <small>Art by behance.net/mathiesonm</small>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/if}}