{{#if this.isHomepage}}
  <section class="gray-banner-component learn-more-component">
    <div class="wrap">
      <h2 class="banner-title">For you</h2>
      <div class="card-list">
        <div class="card">
          <div class="card-bg"></div>
          <div class="icon-container">
            <img
              src="//cdck-file-uploads-global.s3.dualstack.us-west-2.amazonaws.com/flex003/uploads/annetters/original/1X/11fca20ce58439a67aa0074f6c7ac4df2fdfe05b.png"
              alt="category background"
            />
          </div>
          <div class="text-container">
            <div class="column col-1">
              <h6 class="title"><a href="/c/photoshop">Photoshop</a></h6>
              <span class="stats">3 conversations</span>
            </div>
            <div class="column col-2"><a
                href="/c/photoshop"
                class="btn btn-default btn-visit"
              >Visit</a></div>
          </div>
        </div>
        <div class="card">
          <div class="card-bg"></div>
          <div class="icon-container">
            <img
              src="//cdck-file-uploads-global.s3.dualstack.us-west-2.amazonaws.com/flex003/uploads/annetters/original/1X/11fca20ce58439a67aa0074f6c7ac4df2fdfe05b.png"
              alt="category background"
            />
          </div>
          <div class="text-container">
            <div class="column col-1">
              <h6 class="title"><a href="/c/photoshop">Photoshop</a></h6>
              <span class="stats">3 conversations</span>
            </div>
            <div class="column col-2"><a
                href="/c/photoshop"
                class="btn btn-default btn-visit"
              >Visit</a></div>
          </div>
        </div>
        <div class="card">
          <div class="card-bg"></div>
          <div class="icon-container">
            <img
              src="//cdck-file-uploads-global.s3.dualstack.us-west-2.amazonaws.com/flex003/uploads/annetters/original/1X/11fca20ce58439a67aa0074f6c7ac4df2fdfe05b.png"
              alt="category background"
            />
          </div>
          <div class="text-container">
            <div class="column col-1">
              <h6 class="title"><a href="/c/photoshop">Photoshop</a></h6>
              <span class="stats">3 conversations</span>
            </div>
            <div class="column col-2"><a
                href="/c/photoshop"
                class="btn btn-default btn-visit"
              >Visit</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="white-banner-component channel-view-component">
    <div class="wrap">
      <h2 class="channel-view-title">More to discover</h2>
      <div class="channel-view-grid">
        {{#each site.categories as |sc|}}
          <div class="channel-card">
            <div class="channel-card-content">
              <div class="row">
                <div class="icon-container">
                  <a href={{sc.slug}}>
                    {{#if sc.uploaded_logo.url}}
                      <img src={{sc.uploaded_logo.url}} alt="category logo" />
                    {{else}}
                      <div class="placeholder">
                        &nbsp;
                      </div>
                    {{/if}}
                  </a>
                </div>
                <div class="text-container">
                  <h5 class="title"><a
                      href="/c/{{sc.slug}}"
                    >{{sc.name}}</a></h5>

                  {{#if sc.topic_count}}
                    <span class="stats">{{sc.topic_count}} conversations</span>
                  {{else}}
                    <span class="stats">No conversations</span>
                  {{/if}}

                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section class="gray-banner-component learn-more-component">
    <div class="wrap">
      <h2 class="banner-title">Learn with Adobe</h2>
      <div class="card-list">
        <p>Placeholder for card-list.</p>
      </div>
    </div>
  </section>
{{/if}}